body {
    text-align: center;
    line-height: 1.5rem;
}
.questions {
    margin-top: 50px;
}
h2 {
    font-family: cursive;
    color: brown;
}
.question-title {
    background-color: wheat;
    width: 500px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.text-title {
    padding-left: 5px;
}
.question-text {
    text-align: left;
    padding-top: 10px;
    display: none; /*hide text*/
}
/*hide text*/
.minus-icon {
    display: none;
}
.show-text .question-text {
    display: block;
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon {
    display: none;
}
@media screen and (max-width: 400px) {
    .question-title {
        width: 300px;
    }
    .question {
        margin-right: 25px;
    }
}
@media screen and (min-width: 800px) {
    .question-title {
        width: 500px;
    }
   
}
